* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}



.background {
    background-color: rgb(0, 174, 255);
}

.nav-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 35px;
    margin-right: 950px;
    margin-left: auto;
    margin-bottom: 45px;
    box-shadow: black 3px 3px;
    position: relative;
    left: 85px;
}

.nav-list {
    padding: 2px 4px 2px 4px;
    display: flex;
    flex-direction: row;
}


li {
    padding: 0px 2px 0px 2px;
    list-style-type: none;
    font-family: 'Heebo', sans-serif;
}

a:hover {
    color: red;
}

.outter-container {
    border: solid 3px rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: black 3px 3px;
}

.coin-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 8px;
    font-family: 'Heebo', sans-serif;
}

.coin {
   display: grid;
   grid-template-rows: repeat(1 ,1fr);
   padding: 6px 5px;
   justify-content: space-between;
   border: solid rgb(0, 174, 255) 2.5px;
   margin-left: 4px;
   margin-right: 4px;
   margin-top: 4px;
   margin-bottom: 4px; 
   font-family: 'Heebo', sans-serif;
}

/*  comment for a commit to make a push to github*/
/*http://127.0.0.1:8000/static/dashboard.css */
