* {
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

html {
    background-color: rgb(0, 174, 255);
}

.main {
    background-color: rgb(0, 174, 255);
}


.title {
    border:rgb(0, 174, 255) solid 10px;
    background-color: rgb(0, 174, 255);
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 174, 255);
    padding-right: 20px;
    padding-left: 20px;
}


form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
    box-shadow: black 3px 3px 12px;
    background-color: rgb(0, 174, 255);
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 90px;
    margin-left: 90px;
}

.btn {
    margin-top: 4px;
}







