* {
    margin: 0;
    padding: 0;
}

.main {
  background-color: rgb(0, 174, 255);
}

.nav-container {
    margin: 15px 15px;
    border: solid white 3px;
    background-color: grey;
    border-radius: 10px;
}

.nav-list {
    padding: 4px 8px;
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.list-link {
    padding: 5px;

}

.container {
    justify-content: center;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 30px 30px;
    background-color: white;
    box-shadow: white 3px 3px;
}


.gird-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.top-table {
   grid-template-rows: repeat(3, 3fr);
   border: black solid 2.5px;
}

.t-data, td {
    text-align: end;
    border: solid black 3px;
    background-color: white;
}

.t-head, th {
    text-align: start;
    border: solid black 3px;
    background-color: white;
}

.journal-form {
    margin-top: 5px;
    border: black solid 2.5px;
}

.j-data, .j-head {
    border: black solid 3px;
}

a {
    color: black;
}

a:hover {
    color: red;
}
