* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.main {
    background-color: rgb(0, 174, 255);
}

.table-one {
    display: flex;
}

.first-table {
    display: flex;
    
}

.move-up {
    border: red solid 3px;
    background-color: white;
}

.journal {
    background-color: white;
}