* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.main {
  background-color: rgb(0, 174, 255);
}

.nav-container {
    margin: 15px 30px;
    border: solid white 3px;
    background-color: white;
    box-shadow: black 3px 3px;
    margin-right: 940px;
    color: blue;
}

.nav-list {
    padding: 4px 8px;
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.list-link {
    padding: 5px;

}

.container {
    justify-content: center;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 30px 30px;
    background-color: white;
    overflow-y: scroll;
}

.header {
    position: relative;
    top: 130px;
    margin-bottom: 120px;
    color: blue;
}


.gird-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    margin-right: 620px;
}

.top-table {
   grid-template-rows: repeat(3, 3fr);
   border: black solid 2.5px;
}

.move-up {
    position: relative;
    top: -45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.entry-form {
    position: relative;
    border: black solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

table {
    border-collapse: separate;
    border-spacing: 20px 5px;
}

.t-data, td {
    text-align: center;
    border: solid black 3px;
    background-color: white;
}

.t-head, th {
    text-align: center;
    border: solid black 3px;
    background-color: white;
}

.journal-form {
    padding-left: 5px;
    margin-top: 20px;
    border: black solid 2.5px;
}



.j-data, .j-head {
    border: black solid 3px;
    margin: 0 15px 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.scroll {
    overflow-y: scroll;
}



a:hover {
    color: red;
}
