:root {
    --background-color: #148a07;
    --main-color: #fff;
    --secondary-color: #d6cb00;
}

body {
    background-color: var(--background-color);
}

h3 {
    color: var(--background-color);
    border: solid 1px green;
    background-color: var(--secondary-color);
}

.assests {
    display: grid;
    border: gold solid 3px;
    padding: 120px;
    background-color: var(--main-color); 
    height: 75%;
}