:root {
    --background-color: #148a07;
    --main-color: #fff;
    --secondary-color: gold;
    --dark-color-main: black;
}

body {
    background-color: var(--background-color);
}

h3 {
    color: var(--background-color);
    border: solid 1px var(--main-color);
    background-color: var(--secondary-color);
}

.container {
   border: solid 5px var(--secondary-color);
   width: 10%;
   background-color: var(--main-color);
   margin-left: 5px;
   margin-bottom: 15px;
}

#fiat-control {
   padding: 10px 10px 10px;
   cursor: pointer;
}

.add {
    margin-right: 55px;
}


.box {
    background-color: var(--main-color);
    border: solid 5px var(--secondary-color);
    height: auto;
    margin: 5px;
    padding: 5px;
    justify-content: space-evenly;
}


.snap-shot {
    border: var(--dark-color-main) solid 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: var(--dark-color-main);
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.snap-shot > div {
    background-color: var(--main-color);
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    background-color: var(--dark-color-main);
    padding: 10px;
    justify-content: space-between;
}

.grid-container > div {
    background-color: var(--main-color);
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
}

.grid-container > button, .edit {
    background-color: grey;
}