

{% block title %}
{% if messages %}
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
{% endif %}

{% endblock %}

{% block nav %}
<div class="nav-container col-4">
<ul class="nav-list nav nav-pills">
  <li class="list-link nav-item"> <a class="nav-link" href="{% url 'logout' %}">Logout </a></li>
  <li class="list-link nav-item"> <a class="nav-link" href="{% url 'IndexView' %}"> Dashboard </a> </li>
  <li class="list-link nav-item"> <a class="nav-link" href="{% url 'NewAsset' %}"> Add Asset </a> </li>
  {% if user.is_authenticated %}
  <li class="list-link nav-item"> <a class="nav-link" href="{% url 'MyProfile' user.id %}"> My Profile </a> </li>
  {% endif %}

</ul>
</div>

{% endblock %}

{% block content %}

{% endblock %}
