{% extends 'CMApp/base.html' %}

{% csrf_token %}

{% block title %} hello  {{ user.username }} {%load static%} {% endblock %}



{% block content %}
<body class="background">
  

<link rel="stylesheet" href="{%static 'dashboard.css'%}">

{% if assets %}
<div class="outter-container">
<ul class="coin-list"> 
 {% for asset in assets %}

  <li class="coin"> <a href='{% url "NewEntry" asset.ticker %}'> <img src = "{{ MEDIA_URL }}{{ asset.photo.url }}"/> </a> <a href='{% url "DeleteAsset" asset.ticker %}'> Delete Asset </a> </li>

  {% endfor %}
  </ul>
</div>
</body>
  {% else %}
  No Assets Found

  {% endif %}

{% endblock %}
