{% extends 'CMApp/base.html' %}



{% block title %} hello  {{ user.username }} {%load static%}

{% endblock %}



{% block content %}
<body class="background">
  
<head>
  <link rel="stylesheet" href="{%static 'dashboard.css'%}">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
</head>


{% if assets %}
<div class="outter-container">
<ul class="coin-list">
 {% for asset in assets %}

  <li class="coin"> <a href='{% url "NewEntry" asset.ticker asset.id %}'> <img src = "{{ MEDIA_URL }}{{ asset.photo.url }}"/> </a> {{ asset.ticker }}<a href='{% url "DeleteAsset" asset.ticker asset.id %}'> Delete Asset </a> </li>

  {% endfor %}
  </ul>
</div>
</body>
  {% else %}
  No Assets Found

  {% endif %}

{% endblock %}
