{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index.Html</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/utilites.css' %}">
</head>
<body>
    <h3> Connected to Index.html </h3> 

       <!---This div is for the top half of the page where we pick the kind of coin we want--->
   <div class="box">    
    <div class="grid-container">

       <div class="grid-item">Date</div>
       <div class="grid-item">Crdit</div>
       <div class="grid-item">BitCoin</div>
       <div class="grid-item">USD</div>
       <div class="grid-item">escrow</div>

       <div class="grid-item">Date</div>
       <div class="grid-item">Crdit</div>
       <div class="grid-item">BitCoin</div>
       <div class="grid-item">USD</div>
       <div class="grid-item">escrow</div>

       <section class="entries grid-item">
            
       </section>

    </div>

   </div> 
</body>
</html>
