{% extends 'CMApp/base.html' %}
{% csrf_token %}


{% block content %}

<form method="POST">
  {% csrf_token %}
  <h3> SnapShot </h3>
  <table>
    <tr> Fiat Amount: {{ asset.fiat }} </tr>
    <tr> Asset Amount: {{ asset.asset }} </tr>



   {{ entry_form }}

   <input type="submit" value="submit">
   </table>
   </form>

<form>
   <h3> Journal </h3>
   <table>
   <tr>
     <th> Entry Type </th>
     <th> Date </th>
     <th> Fiat Amount <th>
     <th> Asset Amount <th>
    
    </tr>
     {% for entry in entries %}
     <tr>
    <td> {{ entry.entry_type }} </td>
    <td> {{ entry.date }} </td>
    <td> {{ entry.fiat_value }} </td>
    <td> {{ entry.asset_value }} </td>
    </tr>
    {% endfor %}
    </table>
</form>

{% endblock %}
