{% extends 'CMApp/base.html' %}

{% load static %}

{% if messages %}
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
{% endif %}




{% block content %}


<body class="body">


  <head>
    <link rel="stylesheet" href="{% static '/new_asset.css' %}">
  </head>

  <div class="asset-form-div">
<form enctype="multipart/form-data" class="asset-form" method="POST">


<form enctype="multipart/form-data" method="POST">

  {% csrf_token %}
  {{ asset_form }}
  <input type="submit" value="submit">

  </form>
</div>
</body>

  {% endblock %}
