{% extends 'CMApp/base.html' %}
{% load my_filters %}
{% csrf_token %}
{% load static %}




{% block content %}

<head>
  <link rel="stylesheet" href="{% static '/new_entry.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="main">
  {% load crispy_forms_tags %}
  <div class="container">
<h3> SnapShot </h3>


    <section class="gird-container">
      <table class="top-table">
       <tr>
         <th class="t-head"> Fiat Amount </th>
         <th class="t-head"> {{ asset.ticker }} Amount </th>
         <th class="t-head"> Average Price of your {{ asset.ticker }} holdings  </th>
         <th class="t-head"> Your Profit/Loss {{asset.ticker }} </th>

       </tr>
       <tr>
       <td class="t-data">{{ asset.FCI | currency }}</td>
       <td class="t-data"> {{ asset.CAH }}</td>
       <td class="t-data">{{ asset.CAP | currency }}</td>
       <td class="t-data">{{ asset.APL | currency }}</td>
       </tr>




   </table>
   <table class="top-table">
     <tr>
       <th class="t-head"> {{ asset.ticker }} Held All Time </th>
       <th class="t-head"> {{ asset.ticker }} Sold All Time </th>
       <th class="t-head"> Fiat Total Invested All Time  </th>
       <th class="t-head"> Fiat Gained Through Selling {{ asset.ticker }} </th>

     </tr>
     <tr>
     <td class="t-data">{{ asset.AHAT  }}</td>
     <td class="t-data"> {{ asset.ASAT  }}</td>
     <td class="t-data">{{ asset.FATT | currency }}</td>
     <td class="t-data">{{ asset.FG | currency }}</td>
     </tr>
   </table>
    </section>
<div class="move-up">
<h3> New Entry </h3>
<form class="entry-form" method="POST">
  {% csrf_token %}
   {{ entry_form }}
   {{form|crispy}}

   <input type="submit" value="submit">

   </form>
  </div>
   <!---The 'j-data' class tag stands for journal data so to tell the
          diffrence from the top form table and bottom on the screen and 'j-head is the same'-->
<form class="journal-form">
  {% csrf_token %}

   <h3>  {{ asset.ticker }} Journal </h3>
   <table class="my-2 p-2">
   <tr>
     <th class="t-head j-head"> Entry Type </th>
     <th class="t-head j-head"> Date </th>
     <th class="j-head"> Fiat Amount </th>
     <th class="j-head"> Asset Amount </th>


    </tr>
     {% for entry in entries %}
     <tr>
       <td class="t-data j-data"> {{ entry.type }} </td>
       <td class="t-data j-data"> {{ entry.date_created }} </td>
       <td class="t-data j-data"> {{ entry.fiat_amount}} </td>
       <td class="t-data j-data"> {{ entry.asset_amount }} </td>
  <td> <a href="{% url 'DeleteEntry' entry.tx_asset.ticker entry.id %} "> delete entry </a>  </td>
    </tr>
    {% endfor %}
    </table>
   </div>
</form>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
crossorigin="anonymous"></script>
<a href="{% url 'ExportAsset' asset.id %}"> Export Transactions as CSV </a>
</body>

{% endblock %}
